.usrarea{
  >div{
    margin: 0 auto;
    border-radius: 100%; 
    background-color: #fff;
    overflow: hidden;

    >img{
      display: block;
      border-radius: 100%;
      background-size: 100%;
    }
  }
}