.message{
  display: flex;
  >svg{
    height: 24rem;
    width: 24rem;

    &:hover{
      cursor: pointer;
    }
  }
  .list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    position: absolute;
  }
}