.goodsItem{
  width: 100%;
  display: flex;

  &>div{
    flex: 1;
    p{
      margin-top: 0;
    }
  }
}

.wrap{
  display: flex;
  justify-content: space-between;
}

.goodsKUASimple{
  display: flex;
  height: 56rem;
  align-items: center;
  &>div{
    flex: 1;
    justify-content: flex-end;
  }
  .wrap{
    span{
      text-align: center;
    }
  }

  .active{
    
  }
}

.BigBtn{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56rem;
  line-height: 56rem;
  font-size: 18rem;
  background-color: #f39800;
  color: #fff;
  text-align: center;
  text-decoration: none;
}