.base{
  // width: 100%;
  &>p{
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.textInput{
  position: relative;
  display: flex;
  align-items: center;

  input{
    border-width: 0 0 1rem;
    border-style: solid;
    outline: none;
    width: 100%;
    transition: all 200ms;
  }
  .placeholder{
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateY(0%);
    transition: all 200ms;

    &:before{
      content: (attr(data-placeholder));
    }
  }
  &.active{
    .placeholder{
      font-size: 0.65em;
      transform: translateY(-100%);
      height: calc(65% - 8rem);
    }
  }
}

.textComp{
  word-break: break-all;
  line-height: 1.4;
  margin-top: 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}