.slideTouch{
  overflow: hidden;
  .imgListContainer{
    height: 100%;
    a{
      display: inline;
      img{
        width: 100%;
        height: 100%;
      }
    }
    div{
      div{
        display: flex;
        div{
          flex-shrink: 0;
        }
      }
    }
  }
  .status{
    display: flex;
    justify-content: center;
    span{
      display: inline-block;
    }
  }
}