@import '../../../node_modules/normalize.css/normalize.css';
@import 'styleguide';

body{
  font-size: 1.33333rem;
  user-select: none; 
  font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $mainFontColor;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
}
a{
  outline: none;
  color: $mainFontColor;
}