@import 'styleguide';

.root{
  height: 100%;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .rootwrap{
    padding-bottom: 56rem;
  }

  .banner{
    width: 100%;
    height: 178rem;
  }
  .goodsList{
    a{
      text-decoration: none;
    }
    .goodsitem{
      padding: 16rem;
      box-sizing: border-box;
      border-bottom: 1px solid $subFrontBgColor;
      p{
        font-size: 14rem;
        height: 39.2rem;
      }
      :global(.price){
        font-size: 18rem;
        color: $mainColor;
      }
      :global(.sign){
        font-size: 12rem;
        color: $subFrontBgColor;
      }
      :global(.wrap){
        align-items: flex-end;
      }
      img{
        width: 72rem;
        height: 72rem;
        margin-right: 16rem;
      }
    }
  }
}

.info{
  height: 100%;
  .banner{
    height: 375rem;
  }
  .detail{
    background-color: #fff;
    padding: 16rem;
    :global(.price){
      color: $mainColor;
      font-size: 20rem;
      line-height: 18rem;
      span{
        font-size: 24rem;
      }
    }
    :global(.wrap){
      align-items: center;
    }
    :global(.sign){
      font-size: 14rem;
      color: $subFrontBgColor;
    }
  }
  .goodskua{
    border-top: 1px solid $subFrontBgColor;
    padding-left: 16rem;
    padding-right: 16rem;
    background-color: #fff;

    :global(.wrap){
      span{
        height: 20rem;
        padding-left: 12rem;
        padding-right: 12rem;
        border-radius: 2rem;
        line-height: 20rem;
        background-color: $subBgColor;
        color: $therdFontColor;
        margin-left: 8rem;
      }
      :global(.active){
        color: #fff;
        background-color: $mainColor;
      }
    }
  }
  :global(.itemIOS){
    height: 56rem;
    padding-left: 16rem;
    padding-right: 16rem;
  }
  .weixin{
    div>span{
      color: $therdFontColor;
    }
  }
  .total{
    border-bottom: 1px solid $subFrontBgColor;
    div>span{
      font-size: 18rem;
      color: $mainColor;
    }
  }
  .fare{
    div>span:first-child{
      text-decoration: line-through;
      color: $therdFontColor;
      margin-right: 10rem;
    }
  }
  .address{
    padding: 20rem 16rem;
    border-top: 1px solid $subFrontBgColor;
    background-color: #fff;
    font-size: 14rem;
    line-height: 1.4;
    .phone{
      float: right;
    }
    p{
      margin-top: 8rem;
      margin-bottom: 0;
    }
  }
}

// Counter Component style
:global(.counter){
  float: right;
  a{
    &:first-child{
      border-radius: 2rem 0 0 2rem;
    }
    &:last-child{
      border-radius: 0 2rem 2rem 0;
    }
    height: 33rem;
    width: 33rem;
    line-height: 30rem;
    background-color: $subBgColor;
    border: 1px solid $subFrontBgColor;
    &:active{
      color: #fff;
      background-color: $mainColor;
      border-color: $mainColor;
    }
  }
  input{
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: $subFrontBgColor;
    height: 33rem;
    text-align: center;
    width: 40rem; 
  }
}