
$mainColor = #f39800
$mainFontColor = #393939
$mainBgColor = #f2f0ed
$sipcBgColor = #f2eade
$subBgColor = #f2f0ed
$subFrontBgColor = #909090
$IOSborderColor = #e6e4e1

$themeColor = #0ead87
$therdFontColor = #979799

$iconSize = 16rem

// fm skeleton
$fmTopHeight = 44rem
$fmLeftWidth = 180rem

// usr area
$usrAreaPaddingTop = 40rem
$usrImgSize = 96rem
$usrImgBorderSize = 4rem

$switchSize = 24rem
$uploadViewSize = 96rem

:export{
  usrImgSize: $usrImgSize;
  usrImgBorderSize: $usrImgBorderSize;
  switchSize: $switchSize;
  uploadViewSize: $uploadViewSize;
  mainBgColor: $mainBgColor;
  sipcBgColor: $sipcBgColor;
}

// menu stylesheet
$menuListHeight = 32rem

// login
$loginWidth = 320rem;


// ==============================================================
// 去掉移动端可点击元素在点击是的半透明背景
tap0hightlight{-webkit-tap-highlight-color: rgba(0,0,0,0)}
