.topbar{
  overflow: hidden;
  display: flex;

  img{
    height: 100%;
    width: auto;
  }

  .group{
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
    svg{
      width: 24rem;
      height: 24rem;

      &:hover{
        cursor: pointer;
      }
    }
    .message{
      margin-right: 10rem;
    }
    .setting{
      margin-right: 10rem;
    }
    .exit{
      height: 100%;
      align-items: center;
      padding-left: 10rem;
      padding-right: 10rem;
    }
    a{
      display: flex;
    }
  }
}