// 待优化...
ul.base{
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  >li{
    height: auto;
    a{
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      display: flex;
      height: 100%;
      align-items: center;
      text-decoration: none;
    }
    .arrs{
      margin-left: 10rem;
      width: 14rem;
      height: 14rem;
      transform: rotate(-90deg);
      transition: transform 200ms;
    }
  }
  .icon{
    display: inline-block;
  }
  >div{
    
  }
  .titleComp{
    display: inline-block;
    width: calc(100% - 68rem);
    color: #fff;
  }
  ul{
    list-style: none;
    padding-left: 0;

    &.child{
      
    }
  }
}
