<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>" debug="<%= htmlWebpackPlugin.options.debug %>">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <script>
      var DEBUG = true, OUTPUT = '';
      var _dpr = window.devicePixelRatio;
      var _scale = 1 / _dpr;
      var _font_size = _dpr * 12 + 'px';
      if (!document.getElementsByTagName('html')[0].getAttribute('debug')){
        OUTPUT += navigator.platform.match('Win|Mac|X11') != null && '<meta name="viewport" content="width=device-width,initial-scale=' + _scale + ',  maximum-scale=' + _scale + ', user-scalable=no">';
      } else {
        OUTPUT += '<meta name="viewport" content="width=device-width,initial-scale=' + _scale + ',  maximum-scale=' + _scale + ', user-scalable=no">';
      }
      OUTPUT += '<style type="text/css">html{min-height:100%;font-size:' + _font_size + '}</style>';
      document.write(OUTPUT)
    </script>
    <script src="promise.polyfill.js"></script>
  </head>
  <body>
    <div id="ReactContainer"></div>
  </body>
</html>