.itemIOS{
  display: flex;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #ccc;
  .wrap{
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  &:last-child{
    border-top-width: 0;
  }
  &:last-child{
    border-top-width: 1px;
  }
}