.SquareArrow{
  display: flex;
  .arrow{
    display: flex;
    align-items: center;
    padding-top: 35.355%;
    width: 100%;
    &>i{
      width: 100%;
      border-top-style: solid;
      &:first-child{
        transform: rotate(45deg);
        transform-origin: 100% 100%;
      }
      &:last-child{
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
    }
    &.right{
      transform: rotate(-90deg);
    }
  }
}
.Layer{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner{
    display: block;

    .confirm{
      
    }
  }
}